
.fab-svg {
	width: 25px !important;
    height: 25px !important;
}


.MuiSpeedDialIcon-root {
	display: flex;
    justify-content: center;
    align-items: center;
}

.MuiFab-primary {
    background-color: #1877f2 !important;
    display: flex;
    justify-content: center;
    align-items: center; 
}


.MuiFab-label a {
	display: flex;
    justify-content: center;
    align-items: center; 
}


