html {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.select-type {
  position: fixed;
  top: 45%;
  right: 10px;
  height: 30px;
  z-index: 100000000;
  border: none;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  border-radius: 5px;
  padding: 0 16px;
  background: rgba(255, 255, 255, 0.8);
}

.CircularProgressbar .CircularProgressbar-path {
  transition: none;
}



